@media (min-width: 1024px) {
    .article-list--compact.links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: none;
        box-shadow: none;
        
        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 10px;
            &:nth-child(odd) {
                margin-right: 8px;
            }
        }
    }
}

html {
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
      }
}
    
:root {
    --article-font-family: "LXGW WenKai Screen", var(--base-font-family);
    --base-font-family: "Lato", "Twemoji", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: "Source Code Pro", "Noto Serif SC", var(--base-font-family);
}

.site-name a {
    font-family: "ZCOOL KuaiLe", var(--base-font-family);
    background-image: linear-gradient(to right, #5bcefa, #f5a9b8, #fff, #f5a9b8, #5bcefa) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
}
.site-description {
    font-family: "ZCOOL KuaiLe", var(--base-font-family);
}
.menu {
    font-family: "Noto Serif", var(--base-font-family);
}

#typed {
    font-family: "ZCOOL KuaiLe", var(--base-font-family);
    font-size: 1.5em;
    background-image: linear-gradient(to right, #5bcefa, #f5a9b8, #fff, #f5a9b8, #5bcefa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typed {
    text-align: center;
}

.typed-cursor {
    color: #fff;
    font-size: 1.5em;
}
