{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <div class="typed">
        <span id="typed"></span>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            var typed = new Typed("#typed", { 
                strings: [
                    '创造你的时候,神开了个玩笑,从此你灵魂滚烫,命运冰凉',
                    '如果人类的意义只剩繁衍后代，那我建议你退化为单细胞生物，这样你就能有数不清的后代了',
                    '总有地上的生灵,敢于直面雷霆的威光!',
                    '实践是检验真理的唯一标准',
                    '昨夜西风凋碧树,独上高楼,望尽天涯路',
                    '生于黑暗,侍奉光明',
                    '听凭风引,与风同行',
                    '曲终人散,黄粱一梦,该醒了',
                    '彼岸花花开彼岸,断肠草草断肝肠',
                    'Explore. Dream. Discover.',
                    'I can eat glass, it does not hurt me',
                    '弱小和无知不是生存的障碍,傲慢才是',
                    '虽历沧海,我依故我',
                    '黑白谁能用入玄,千回生死体方圆',
                    '纵有千古,横有八荒,前途似海,来日方长',
                    '知识是完备思想的工具,不是争名夺利的武器',
                    '入得此门不回首,无需声之于口',
                    '山外青山楼外楼,自然探秘永无休;成功易使人陶醉,莫把百尺当尽头',
                    '遗传造就生命延续的根基,变异激起进化的层层涟漪',
                    '最好的报复是美丽,最美的盛开是反击',
                    '非曰能之,愿学焉',
                    '目的可求完美,举步勿需周全',
                    '一切学习与思考的目的,并不都是为了可用,更是为了心灵的自我完善',
                    '你不是男生,不是女生,而是人生吧',
                ],
                startDelay: 300,
                typeSpeed: 100,
                loop: true,
                backSpeed: 50,
                backDelay: 1000,
                shuffle: true,
                loopCount: Infinity,
                showCursor: true,
                cursorChar: '_',
                autoInsertCss: true,
                preStringTyped: (arrayPos, self) => {
                    // console.log(self.sequence)
                    // console.log(self.strings[self.sequence[self.arrayPos]])
                    // console log arrayPos and sequence (self fileds)
                    // console.log(arrayPos, self.sequence[self.arrayPos])
                    const NotoSerifList = [12, 18, 20]
                    const HandWriteList = [3, 4, 13, 14, 15, 17, 21, 22];
                    const SourceCodeProList = [9]
                    const PoppinsList = [10]
                    if (HandWriteList.includes(parseInt(self.sequence[self.arrayPos]))) {
                        document.getElementById('typed').setAttribute('style', 'font-family: "LXGW WenKai Screen", "Noto Sans SC"');
                    } else if (SourceCodeProList.includes(parseInt(self.sequence[self.arrayPos]))) {
                        document.getElementById('typed').setAttribute('style', 'font-family: "Source Code Pro", "Noto Sans SC"');
                    } else if (PoppinsList.includes(parseInt(self.sequence[self.arrayPos]))) {
                        document.getElementById('typed').setAttribute('style', 'font-family: "Poppins", "Noto Sans SC"');
                    } else if (NotoSerifList.includes(parseInt(self.sequence[self.arrayPos]))) {
                        document.getElementById('typed').setAttribute('style', 'font-family: "Noto Serif SC", "Noto Sans SC"');
                    } else {
                        document.getElementById('typed').setAttribute('style', 'font-family: "ZCOOL KuaiLe", "Noto Sans SC"');
                    }
                },
            });
        }
    </script>

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
