{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <div class="typed">
        <span id="typed"></span>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            var typed = new Typed("#typed", { 
                strings: [
                    '创造你的时候,神开了个玩笑,从此你灵魂滚烫,命运冰凉',
                    '如果人类的意义只剩繁衍后代，那我建议你退化为单细胞生物，这样你就能有数不清的后代了',
                    '总有地上的生灵,敢于直面雷霆的威光!',
                    '实践是检验真理的唯一标准',
                    '昨夜西风凋碧树,独上高楼,望尽天涯路',
                    '生于黑暗,侍奉光明',
                    '听凭风引,与风同行',
                    '曲终人散,黄粱一梦,该醒了',
                    '彼岸花花开彼岸,断肠草草断肝肠',
                    'Explore. Dream. Discover.',
                    'I can eat glass, it does not hurt me',
                    '弱小和无知不是生存的障碍,傲慢才是',
                    '虽历沧海,我依故我',
                    '黑白谁能用入玄,千回生死体方圆',
                    '纵有千古,横有八荒,前途似海,来日方长'
                ],
                startDelay: 300,
                typeSpeed: 100,
                loop: true,
                backSpeed: 50,
                backDelay: 1000,
                shuffle: true,
                loopCount: Infinity,
                showCursor: true,
                cursorChar: '_',
                autoInsertCss: true,
            });
        }
    </script>

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
